/* ideas for sidebar from http://startbootstrap.com/templates/simple-sidebar.html
 */

.wrapper {
  padding-left: 250px;
}

.sidebar-wrapper {
  margin-left: -250px;
  width: 250px;
  position: fixed;
  height: 100%;
}

.page-content-wrapper {
  width: 100%;
}

/*li a {
  padding-left: 5px;
}

.task {
  position: relative;
}

li input {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
}*/