@import url("http://fonts.googleapis.com/css?family=Roboto");

body {
    font-family: 'Roboto';
    margin: 50px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

* {
    margin: 1em 0;
}

/* Define the layout of the articles and the sidebar.
 */
.hdr {

}

.articles {
    float: left;
    width: 70%;
    display: inline-block;
}

.sidebar {
    width: 30%;
    float: left;
    display: inline-block;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}



/* header/h1 is the title.  but it is also a link.  is it better to
 * define the style in this way or just to h1/a?
 */
header h1 {
    margin-bottom: 0px;
    display: inline-block;
}
header h1 a {
    color: #dd0000;
    font-size: 40px;
    font-weight: 100;
}

/* h2 in header is used for the page subtitle */
header h2 {
    color: #777777;
    font-size: 20px;
    font-weight: 100;
    margin-top: 0px;
    display: inline-block;
}

/* style for the links in the header */
header nav {
    width: auto;
}
header nav a {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100px;
}

article {
    margin-top: 60px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #aaaaaa;
}

article img {
    width: 100%;
    margin-bottom: 0px;
}

/* h3 in article is used for the date line */
article h3 {
    font-size: 20px;
    color: #aaaaaa;
    margin-bottom: 0px;
}

/* h2 in article is used for article title */
article h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
article h2 a {
    font-size: 20px;
    color: #555555;
}

/* article/h4 is the "continues..." link used both in the article and the
 * side panel
 */
h4 {
    text-align: right;
}
h4 a {
    color: #dd0000;
    font-size: 12px;
}

article p {
    margin-top: 10px;
    font-size: 12px;
    color: #999999;
    line-height: 150%;
}

/*  first psuedo-element experiement  */
article p:first-letter {
    font-size: 6em;
    float: left;
    line-height: 0.7;
}

/* for the "about us" section in the sidebar */
div.sidebar h3 {
    font-size: 12px;
    color: #888888;
}
div.about p {
    font-size: 10px;
    color: #888888;
}

.advert {

}

div.popular ul {
    font-size: 10px;
}
